<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="/static/my_stylesheet.css">
</head>
<body>
<form method="post" action="/do/reg">
    用户名：<input type="text" name="usernameInput" class="c1"/>
    密码：<input type="password" name="passwordInput" class="c1"/>
    <input type="radio" name="gender" value="1">男
    <input type="radio" name="gender" value="0">女
    <button type="submit">提交</button>
    <button type="reset">重置</button>
</form>
</body>
</html>